# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files
.DS_Store
Thumbs.db

# Build and cache
dist/
build/
.cache/

# IDE settings
.vscode/
.idea/

# Render & deployment cache
*.render-build*
